body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.stats {
  display: flex;
  gap: 15px;
  margin: 20px 0;
}

.stats div {
  background: white;
  padding: 15px;
  flex: 1;
  border-radius: 8px;
}

form {
  display: grid;
  gap: 10px;
  margin-bottom: 20px;
}

input,
button {
  padding: 10px;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}

table {
  width: 100%;
  background: white;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
}